@model int

<div class="conatiner row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your Order Number is : @Model
    </div>
</div>